*, *:before, *:after {
  box-sizing: border-box;
}

ul.nav li {
    height: 36px;
}


#application table {
    width: 100%;
}

#application table thead th {
    background-color: #F8F8F8;
}

#application table td {
    border-bottom: 1px solid #EAEAEA;
}


#application hr {
    margin-top: 4px;
}

#application h4 {
    height: 22px;
}

#application h4 .glyphicon-minus {
    color: #ccc;
}

#application #options-search-clear {
    float: right;
    width: 40px;
    height: 34px;
}

#application #options-search {
    width: calc(100% - 45px);
    min-width: 100px;
    padding: 6px;
    border: 1px solid #aaa;
    margin-top: 1px;
}

#application .options-container {
    min-height: 200px;
}

#application .options-container > div {
    border: 1px solid #ddd;
    padding: 8px;
    height: 38px;
    margin-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#application .options-container > div.filtered {
    height: 1px;
    padding: 0 8px;
    overflow: hidden;
    border-color: #eee;
}

#application .options-container > div:hover {
    background-color: #eee;
}

#application .options-container > div a {
    float: right;
    padding: 10px;
    display: block;
    margin-top: -8px;
}

a.glyphicon:hover, 
a.glyphicon:active {
    text-decoration: none;
}

#application .options-container > div a.btn {
    margin: 0;
    padding: 4px 16px;
    font-size: 10px;
    margin-top: -2px;
    display: block;
    width: auto;
    height: auto;
}

#application #options-user > div {
    padding-right: 0px;
}

#application #options-user span {
    font-size: 14px;
    color: #888;
}

#application #options-user.sortable > div {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#application #options-user.static > div:hover {
    background-color: inherit;
}

#application #options-available {
    overflow-y: scroll;
    padding-right: 10px;
}

#application #timer-container span {
    float: right;
    display:block;
    margin-top: 10px;
    font-size: 12px;
    padding: 4px;
}

#application #options-valid {
    display: inline-block;
    padding-left: 10px;
}

#application .footer>div {
    height:50px;
}

#application .footer .alert {
    margin: 0;
}

input[name="id[]"] {
  width: 5rem;
}

input[name="group[]"] {
  width: calc(100% - 14rem);
}

input[type="number"] {
  width: 5rem;
}

input[name="occupancy[]"] ~ a {
  width: 2rem;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.25rem 0;
  height: 26px;
  overflow: hidden;
  transition: height 0.3s;
}

ul li span,
ul li input,
ul li a {
  transition: opacity 0.3s 0.3s;
  opacity: 1;
}


ul li.added {
  height: 0;
}

ul li.added span,
ul li.added input,
ul li.added a {
  opacity: 0;
}

ul li:last-child {
  text-align: right;
  padding-right: 0.25rem;
  height: 36px;
}
