{% extends "@Tsugi/Page.twig" %}

{% block head %}
    {% for style in styles %}
        <link rel="stylesheet" type="text/css" href="{{style}}"/>
    {% endfor %}
{% endblock %}

{% block content %}   
    {% if app.tsugi.user.instructor %}
        <div id="application">

            <ul class="nav nav-tabs">
                <!--li><h1 style="margin-top: 0px;margin-bottom: 0px;padding-right: 20px;">One Button Studio: </h1></li-->
                <li class="active"><a href="#" rel="schedule">Schedule</a></li>
                <li><a href="#" rel="rec">Recordings</a></li>
            </ul>

            <div id="rec" class="tab-content" style="display:none">
                <div>
                    <table id="grid" class="table table-bordered table-hover" style="margin-top: 10px;">
                        <thead>
                            <tr>
                            <th class="text-center" style="width: 1rem;">
                            </th>
                            <th style="width: 160px;">&nbsp;</th>
                            <th data-column="title" data-sort="true" data-sortdir="asc" style="width: calc((100% - 30rem)/3)">Title</th>
                            <th data-column="start_date" data-sort="true" data-sortdir="asc" data-sorttype="date" style="width: calc((100% - 30rem)/3)">Date</th>
                            <th data-column="status" data-sort="true" data-sortdir="asc" style="width: 10em">Status</th>
                            <th style="width: 7em">Manage</th>
                        </tr></thead>
                        <tbody id="grid-body">
                    
                            <tr id="row-0375c238-e079-4db4-83f8-d1cdac37d9ba" data-status="Published">
                                <td class="text-center">
                                <input type="checkbox" id="chk-0375c238-e079-4db4-83f8-d1cdac37d9ba">
                                </label></td>
                                <td><img src="http://localhost/tsugi-static/img/1.png" class="img-responsive" style="border: 1px solid #222;"/></td>
                                <td>Teaching and Learning (Take 1)</td>
                                <td>Thu 25 May 2015, 13:00</td>
                                <td>Ready</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="schedule" class="tab-content">
                <div class="row">
                    <div class="col-xs-9 text-center" style="padding-top: 12px;margin-bottom: 0px;">
                        <h4>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            June, 2017 
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </h4>
                    </div>
                    <div id="timer-container" class="col-xs-3">
                        <ul class="nav nav-pills" style="float: right;margin-top: 20px;">
                            <li role="presentation"><a href="#">Week</a></li>
                            <li role="presentation" class="active"><a href="#">Month</a></li>
                            <li role="presentation" style="border-left: 1px solid #ccc; margin-left: 15px; padding-left:8px;"><a href="#">Today</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-xs-9" id="calendar" style="padding-right: 0px;"></div>
                        <div class="col-xs-3" style="padding-left: 0px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="padding-left:10px;">My Bookings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="agenda" class="record">
                                                <div class="time">June 5, 2017&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;13:30 - 14:15</div>
                                                <div class="title">Using Opencast as the cornerstone for the delivery of interactive, annotated multimedia learning, in Sakai and Tsugi</div>
                                            </div>
                                            <div style="padding:2em 0px" class="text-center">
                                                <button class="btn btn-success"><i class="glyphicon glyphicon-plus" style="margin-right: 8px;"></i>Add a booking...</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Legend -->
                            <div class="legend row">
                                <div class="col-xs-12">
                                    <div class="box"></diV>
                                    <div class="text">Unavailable</diV>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box me"></diV>
                                    <div class="text">My bookings</diV>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box used"></diV>
                                    <div class="text">Available</diV>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <script type="text/javascript">    
            function getObj(id, arr, key) { key = key || 'id'; var o = null; $.each(groups, function (i, el) { if (el[key] == id) { o=el; return; } }); return o; };
            var raw = {{json | raw }};

        var arr_days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        var arr_months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var arr_months_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var days_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        
        // this is the current date
        var current = new Date(); 

        $(function () {
            
            //var cal = new Calendar();
            //cal.generateHTML();
            $('#calendar').html(tmpl('tmpl-calendar', {date: new Date()}));
            $('#d_6_5_11').addClass("used");
            $('#d_6_5_13').addClass("me");

            // Smiley
            //$('#d_6_16_12, #d_6_16_13, #d_6_16_15, #d_6_16_16').addClass("used");
            //$('#d_6_17_11, #d_6_17_12, #d_6_17_14, #d_6_17_15').addClass("used");
            //$('#d_6_23_11, #d_6_23_15, #d_6_23_16, #d_6_24_14, #d_6_24_15, #d_6_24_13').addClass("used");

            // var j=[]; $('.used').each(function(i, el){ j.push('#'+$(this).attr('id')); }); j.join(", ");
            /*
            $('.calendar-table td > div > div').click(function(){ 

                if (!$(this).hasClass("me")) {
                    $(this).toggleClass("used"); 
                }
            });
            */
            $("#d_6_1_12, #d_6_2_10, #d_6_2_12, #d_6_3_11, #d_6_4_12, #d_6_5_11, #d_6_6_9, #d_6_7_8, #d_6_7_11, #d_6_7_12, #d_6_8_8, #d_6_8_9, #d_6_9_8, #d_6_9_12, #d_6_10_15, #d_6_11_9, #d_6_11_15, #d_6_12_8, #d_6_12_11, #d_6_13_11, #d_6_13_12, #d_6_13_15, #d_6_14_14, #d_6_15_8, #d_6_15_9, #d_6_15_10, #d_6_16_12, #d_6_16_13, #d_6_16_15, #d_6_16_16, #d_6_17_11, #d_6_17_12, #d_6_17_14, #d_6_17_15, #d_6_19_8, #d_6_19_9, #d_6_19_12, #d_6_20_8, #d_6_20_12, #d_6_20_13, #d_6_23_11, #d_6_23_15, #d_6_23_16, #d_6_24_13, #d_6_24_14, #d_6_24_15, #d_6_25_10, #d_6_25_15, #d_6_26_13, #d_6_26_14, #d_6_26_15, #d_6_26_16, #d_6_27_8, #d_6_27_10, #d_6_28_11, #d_6_29_8, #d_6_29_9, #d_6_29_10").addClass("used");

            $('#agenda, #d_6_5_13').click(function(event){ event.preventDefault(); $('#myModal').modal('show'); });

            $(".nav-tabs").on('click','a', function(event){
                event.preventDefault();
                $('.nav-tabs li').removeClass('active');
                $(this).parent().addClass('active');
                $('.tab-content').hide();
                $('#' + $(this).prop('rel')).show();
            });
        });
    </script>

{{ source('Booking-tmpl.html', ignore_missing = true) }}

{% endblock %}
