<script type="text/x-tmpl" id="tmpl-calendar">
    {%  var current = o.date.startOf('month'),
            prev = current.clone().subtract(1, 'months'),
            next = current.clone().add(1, 'months');
    %}
    <table class="calendar-table">
        <thead>
            <tr>
                {% for(var i = 0, len = defaultLocaleWeekdaysShort.length-1; i <= len; i++ ){ %}<th>{%=defaultLocaleWeekdaysShort[i]%}</th>{% } %}
            </tr>
        </thead>
        <tbody><tr>
    {%
    var d = 0, s = prev.format('MMM');
    for( var i = current.startOf('month').day()-1, p = prev.endOf('month').date() - current.startOf('month').day(); i >= 0; i --, p ++) {
        include('tmpl-calendar-day', {cls: 'prev', s: s, m: prev.month(), d: p+1});
        
        d ++;
        s = '';
        if (d%7 == 0) { %}</tr><tr>{% }
    }

    s = current.startOf('month').day() == 0 ? '' : current.format('MMM');
    for( var i=0, end=current.endOf('month').date(); i < end; i ++) {
        include('tmpl-calendar-day', {cls: 'current', s: s, m: current.month(), d: (i+1)});
        
        d ++;
        s = '';
        if (d%7 == 0) { %}</tr><tr>{% }
    }

    s = next.format('MMM');
    if (next.startOf('month').day() > 0 ) {
        for( var i=0, end=7-next.startOf('month').day(); i < end; i ++) {
            include('tmpl-calendar-day', {cls: 'next', s: s, m: next.month, d: (i+1)});
            
            d ++;
            s = '';
            if (d%7 == 0) { %}</tr><tr>{% }
        }
    } %}
    </tr></tbody></table>
</script>
<script type="text/x-tmpl" id="tmpl-calendar-day">
    {% var klen = 8; %}
    <td class="{%=(o.cls)%}">
        <div class="day">{%=((o.s != "" ? o.s +" ":"") + o.d)%}</div>
        <div>{% for (var k=0; k <= klen; k++) { %}<div id="d_{%=(o.m+1)%}_{%=o.d%}_{%=(k+8)%}"></div>{% } %}</div>
    </td>
</script>
